<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Trivia Game</h1>
    <form method="post" action="{% url 'result' %}">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p>{{ question.question_text }}</p>
                <input type="radio" name="{{ question.id }}" value="{{ question.correct_answer }}"> {{ question.correct_answer }}<br>
                <input type="radio" name="{{ question.id }}" value="{{ question.wrong_answer1 }}"> {{ question.wrong_answer1 }}<br>
                <input type="radio" name="{{ question.id }}" value="{{ question.wrong_answer2 }}"> {{ question.wrong_answer2 }}<br>
                <input type="radio" name="{{ question.id }}" value="{{ question.wrong_answer3 }}"> {{ question.wrong_answer3 }}<br>
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
